NEXT_PUBLIC_SUPABASE_URL=https://mybdtthlnzssscbafygh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15YmR0dGhsbnpzc3NjYmFmeWdoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE2MzUxOSwiZXhwIjoyMDg5NzM5NTE5fQ.8VAZRGHyiFMcKRO1EDqHHopnUA-RdgOkjpO5Gj2n0kU

STRIPE_SECRET_KEY=mk_1TDhMDPXjR41Bso3zdTmHnPf
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
NEXTAUTH_URL=http://localhost:3000
PORT=4000
